body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template: 5rem 2rem 2rem repeat(3, clamp(50px, 30vw, 200px)) / repeat(
      3,
      clamp(50px, 30vw, 200px)
    );
  justify-content: center;
  align-items: center;
  height: clamp(10vh, 90vh, 90vh);
}

.title {
  display: grid;
  grid-column: 1 / span 3;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: black;
}
.title a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

.game_turn {
  display: flex;
  grid-column: 1 / span 3;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  opacity: 50%;
}

button {
  height: fit-content;
  width: clamp(50px, 20vw, 150px);
  align-self: center;
  justify-self: center;
}

#middle-button {
  visibility: hidden;
}

.gameboard-grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(50px, 30vw, 150px);
  line-height: 1;
}

/* gameboard styling */
/* gameboard styling LEFT col*/
.gameboard-grid[data-grid="0"] {
  border-right: 1px solid red;
}

.gameboard-grid[data-grid="3"] {
  border-right: 1px solid red;
}

.gameboard-grid[data-grid="6"] {
  border-right: 1px solid red;
}

/* gameboard styling RIGHT col*/
.gameboard-grid[data-grid="2"] {
  border-left: 1px solid red;
}

.gameboard-grid[data-grid="5"] {
  border-left: 1px solid red;
}

.gameboard-grid[data-grid="8"] {
  border-left: 1px solid red;
}

/* gameboard styling rows*/
.gameboard-grid[data-grid="3"] {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.gameboard-grid[data-grid="4"] {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.gameboard-grid[data-grid="5"] {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

#newPlayers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
