.container {
  display: grid;
  grid-template: 5rem 2rem repeat(3, clamp(50px, 30vw, 200px)) / repeat(
      3,
      clamp(50px, 30vw, 200px)
    );
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#title {
  display: grid;
  grid-column: 1 / span 3;
  align-self: center;
  justify-self: center;
}

button {
  height: fit-content;
  width: clamp(50px, 20vw, 150px);
  align-self: center;
  justify-self: center;
}

.gameboard-grid {
  justify-self: center;
  align-content: center;
  font-size: clamp(50px, 30vw, 150px);
}
